.header-container{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0rem 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.white-logo{
    width: 3rem;
    height: 3rem;
}
.header-title{
    font-weight: 800;
    color: rgba(255, 255, 255, 0.829);
}