.homepage-container{
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    /* padding: clamp(2rem, 10%, 8rem); */
    height: 100vh;
}
.pomo-title{
    font-size: clamp(4rem, 500%, 8rem);
    font-weight: 800;
    color: var(--lightgrey);
}
.sub-section{
    max-width: 40rem;
    font-size: 1.3rem;
    line-height: 35px;
    color: var(--lightlavender);
}
.timer-image{
    width: 15rem;
}
@media screen and (max-width: 900px){
    .timer-image{
        display: none;
    }
    .pomo-title{
        font-size: 400%;
    }
}
.get-started{
    border: 2px solid var(--lightlavender);
    border-radius: var(--lightround);
    background: none;
    color: var(--lightlavender);
    padding: 1.2rem 1.8rem;
    margin-top: 2rem;
    font-size: 1rem;
}
.get-started:hover{
    box-shadow: 1px 1px 10px 5px #141414;
    transition-duration: 0.4s;
}